{:paths ["."]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}}
 :aliases
 {:run   {:main-opts ["-i" "2.clj" "-m" "lab2.part2"]}
  :bench {:main-opts ["-i" "2.clj" "-i" "bench2.clj" "-m" "lab2.part2.bench"]}}}
